In [1]:
class user:
    def __init__(self, name, age= 21 , gender='female'):
        self.name= name
        self.age= age
        self.gender= gender
    
    def __repr__(self):
        return self.name

In [2]:
u1 = user('mahipal', 22, 'male')
u1

mahipal

In [9]:
class student(user):
    def __init__(self,name,college,klass,rollno, age=21, gender='female'):
        super().__init__(name,age,gender)
        self.college= college
        self.klass = klass
        self.rollno= rollno

    def info(self):
        print('student details')        
        print('name:',self.name)        
        print('age:', self.age)        
        print('college:',self.college)        
        print('class:',self.klass)        
        print('roll no:',self.rollno)     
        print('***'*10)

In [11]:
s1= student('mahipal','BBDU','bca','1200211101','age=22',gender='male')
s1

mahipal

In [7]:
s1.info

In [12]:
s1.info()

student details
name: mahipal
age: age=22
college: BBDU
class: bca
roll no: 1200211101
******************************

In [17]:
class mylist(list):
    def __mul__(self,other):
        output =[]
        for i,j in zip(self,other):
            output.append(i*j)
        return output
    def sum(self):
        return sum(self)
    def mean(self):
        return sum(self)/len(self)

In [18]:
x=mylist([1,2,3,4,5])
y=mylist([10,20,30,40,50])
x*y

[10, 40, 90, 160, 250]